# ігнорувати всі готові JSX/TSX-файли, крім тих, що під src/app та src/pages
src/assets/**
src/screens/**
src/data/**
src/utils/**
src/index.js
src/App.jsx
src/routes/**
src/pages/_app.tsx
src/pages/ssr.js
