# ────────────────────────────────────────────────────────────
# macOS Finder
.DS_Store

# ────────────────────────────────────────────────────────────
# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# ────────────────────────────────────────────────────────────
# Dependency directories
node_modules/

# ────────────────────────────────────────────────────────────
# Build outputs
dist/
dist-ssr/

# ────────────────────────────────────────────────────────────
# Local env files
*.local
.env

# ────────────────────────────────────────────────────────────
# IDEs and editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.next/

.next/
.git 2/

# SSL certificates
server.cert
server.key
